/*-- scss:defaults --*/

// Import fonts 
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$cream: #FDFBF7;
$navbar-bg: $cream;
$body-bg: #DDEDF0;
$link-color: #08306b;